mixin benefits()
  .benefits
    .container
      h2.title.title--h2 Преимущества онлайн-сервиса ТутЭвакуатор.Ру
      p.text.benefits__text ТутЭвакуатор.Ру – это удобный сервис для тех, кому нужно недорого и быстро перевезти авто с техническими неисправностями или же с повреждениями, полученными при ДТП в Москве.
      h3.title.title--h3 Воспользовавшись ​ТутЭвакуатор.Ру, вы сможете:
      ul.benefits__list
        li получить постоянный доступ к базе надежных перевозчиков Москвы — сервис работает всегда, вне зависимости от воскресных/праздничных дней
          +icon("icon-done", 32, 32)
        li заказать эвакуатор круглосуточно — 24/7
          +icon("icon-done", 32, 32)
        li выбрать самое экономически выгодное предложение — цены на эвакуационные услуги рыночные, разница может быть ощутимой
          +icon("icon-done", 32, 32)
        li договориться с транспортной компанией напрямую — без посредников и комиссионных
          +icon("icon-done", 32, 32)
        li осуществить эвакуацию авто недорого — без скрытых платежей, неучтенных расходов
          +icon("icon-done", 32, 32)
        li вызвать эвакуатор в срочном порядке — охвачена Московская область, стоянки спецтехники базируются во многих районах Москвы, подача выполняется оперативно
          +icon("icon-done", 32, 32)
      img(src="img/content/man.png" alt="Man" class="benefits__img")
