mixin evacuator-info()
  .evacuator-info
    .container
      .evacuator-info__item
        .evacuator-info__desc
          h2.title.title--h2 Что необходимо сообщить при заказе эвакуатора
          p.text.evacuator-info__text Чтобы выбрать эвакуатор с необходимыми техническими параметрами и минимизировать расходы, при вызове эвакуатора следует указать:
          ul.evacuator-info__list
            li марку, модель, год выпуска и полную массу авто
              +icon("icon-done", 32, 32)
            li характер неисправности ТС
              +icon("icon-done", 32, 32)
            li состояние ходовой части, трансмиссии, рулевого управления
              +icon("icon-done", 32, 32)
            li адрес подачи эвакуатора и пункт конечного назначения в Москве
              +icon("icon-done", 32, 32)
            li наличие ключей от авто и документов, подтверждающих право на управление ТС (водительские права, техпаспорт и доверенность, если вы не собственник авто)
              +icon("icon-done", 32, 32)
        .evacuator-info__img
          img(src="img/content/woman-img.png" alt="woman" class="evacuator-info__img")

    .container
      .evacuator-info__item
        .evacuator-info__img
          img(src="img/content/mechanic-img.png" alt="mechanic" class="evacuator-info__img")
        .evacuator-info__desc
          h2.title.title--h2 Как эвакуировать авто с заблокированными колесами
          p.text.evacuator-info__text При помощи сервиса ТутЭвакуатор.Ру вы сможете вызвать эвакуатор в экстренных ситуациях, например, когда колеса авто заблокированы или ходовая ТС критически пострадала в результате аварии.
          p.text.evacuator-info__text Перевозка автомобиля с заблокированными колесами возможна несколькими типами эвакуаторов:
          ul.evacuator-info__list
            li Эвакуатор с манипулятором. На ТС устанавливают четыре колесных захвата, закрепленных на широких текстильных стропах. С помощью специальных петель оператор манипулятора регулирует длину строп, чтобы при перемещении на эвакуатор авто не кренилось. Стропы присоединяют к линейной или H-образной траверсе. Кран-манипулятор подхватывает траверсу за проушину, поднимает автомобиль и загружает на платформу эвакуатора.
              +icon("icon-done", 32, 32)
            li Эвакуатор с гидроплатформой (без аппарелей) и лебедкой. Авто приподнимают домкратом, под заблокированные колеса устанавливают подкатные тележки. При помощи лебедки авто затягивают на наклонную платформу эвакуатора. После этого платформу эвакуатора приводят в горизонтальное положение.
              +icon("icon-done", 32, 32)



