mixin faq()
  .faq
    .container
      .faq__item
        h3.title.title--h3 Как оплатить заказ на эвакуатор
        p.faq__item-text Услуги по эвакуации вы оплачиваете непосредственно исполнителю – транспортной компании, взявшейся за перевозку вашего ТС. Оплата производится по завершении эвакуации, после выгрузки авто в конечной точке в Москве. <br>Формы оплаты стандартные для Москвы: наличный/безналичный расчет или банковский перевод. Эварус не взимает комиссионные с клиентов за пользование сервисом.

      .faq__item
        h3.title.title--h3 Как скоро прибудет эвакуатор
        p.faq__item-text При оформлении заказа перевозчик сообщит вам расчетное время прибытия эвакуатора в точку погрузки авто. Как правило, в Москве это происходит в течение 10-15 мин., но зависит от загруженности дорог Москвы и погодных условий. Перевозчик, принявший заказ, будет информировать вас о наличии дорожных пробок и возможной задержке подачи эвакуатора. Автопарки наших партнеров находятся во многих районах Москвы, поэтому мы рекомендуем вам выбрать ближайший эвакуатор, чтобы ускорить процесс транспортировки авто.
