mixin order()
  .order
    .container
      .order__content
        h2.title.title--h2 Что нужно знать, чтобы заказать эвакуатор в Москве
        .order__container
          .order__item
            .order__img
              img(src="img/content/truck-img.png" alt="truck")
            p.order__item-desc Заказы на вызов эвакуатора в Москве перевозчики-партнеры “Тут Эвакуатор” принимают круглосуточно. Когда бы вы не позвонили, эвакуатор найдется всегда. Размещая заказ на эвакуатор, ознакомьтесь с информацией о транспортной компании, проконсультируйтесь с ее специалистами и выберите оптимальный вариант перевозки своего ТС.
          .order__item
            .order__img
              img(src="img/content/auto-img.png" alt="auto")
            p.order__item-desc Примите во внимание, что одни и те же виды эвакуаторов рассчитаны на транспортировку авто разных классов. Вопрос заключается лишь в том, какой тип эвакуатор будет выгоднее задействовать в вашем случае. Следуя рекомендациям перевозчика, вы сможете недорого эвакуировать авто как в Москве, так и в области.
