mixin service()
  .service
    .container
      .service__content
        h2.title.title--h2 Что входит в стоимость перевозки эвакуатором
        p.text.service__text Стоимость эвакуации включает в себя оплату услуг по погрузке, перевозке и выгрузке авто, а также по подаче эвакуатора в пункт дислокации ТС в Москве.
        h3.title.title--h3 При формировании цены перевозчики берут в расчет четыре аспекта:
        ul.service__list
          li.service__item
            .service__img
              img(src="img/content/truck.png" alt="truck")
            .service__item-text
              h4.title--h4 Грузоподъемность эвакуатора
              p.service__item-desc Чем мощнее эвакуатор, тем дороже обходится ее эксплуатация, ем внушительнее будет сумма к оплате эвакуации
          li.service__item
            .service__img
              img(src="img/content/mileage.png" alt="mileage")
            .service__item-text
              h4.title--h4 Предполагаемый пробег
              p.service__item-desc Учитывается удаленность стоянки эвакуатора от местоположения ТС, расстояние между пунктами погрузки в Москве и выгрузки авто
          li.service__item
            .service__img
              img(src="img/content/equipment.png" alt="equipment")
            .service__item-text
              h4.title--h4 Дополнительное оборудование
              p.service__item-desc При эвакуации машин с серьезными поломками перевозчики оснащают эвакуатор вспомогательными приспособлениями, что закономерно отражается на стоимости транспортировки.
          li.service__item
            .service__img
              img(src="img/content/gear.png" alt="gear")
            .service__item-text
              h4.title--h4 Уровень сложности
              p.service__item-desc При значительном повреждении автомобиля погрузочно-разгрузочные работы усложняются. Они требуют подключения водителя-оператора высокой квалификации
