.evacuator-info {
  background-color: #FFF5CC;

  .container:first-child {
    margin-left: 260px;
    margin-right: 0;
    max-width: unset;

    .evacuator-info__desc {
      padding: 80px 56px 60px 0;
      width: 644px;
      padding-right: 0;

      .title {
        margin: 0;
        margin-bottom: 16px;
      }
    }
  }

  .container:last-child {
    margin-right: 260px;
    margin-left: 0;
    max-width: unset;

    .evacuator-info__desc {
      padding: 80px 56px 60px 0;
      width: 644px;
      padding-left: 0;
      padding-right: 0;

      .title {
        margin: 0;
        margin-bottom: 16px;
      }
    }
  }

  &__item {
    display: flex;
    gap: 56px;
  }

  &__text,
  &__list {
    font-size: 26px;
    list-style: none;
  }

  &__list li {
    position: relative;
    margin-bottom: 32px;
  }

  &__list li svg {
    position: absolute;
    left: -40px;
    top: 0;
  }
}


