.main-nav {
  &__list {
    display: flex;
    margin: 0;
    margin-right: 20px;
    margin-left: 60px;
    margin-left: auto;
    margin-right: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    margin-right: 20px;
  }

  &__link {
    color: $color-default-white;
    color: #131515;
    text-transform: uppercase;

    &.is-active {
      opacity: 0.6;
    }
  }

  &__toggle {
    display: none;
  }

  &__wrapper {
    display: flex;
    justify-content: end;
  }
}
