mixin footer(footerMods)
  footer.footer(class=footerMods)
    .container
      .footer__logo
        img(src="img/content/logo-truck.png" alt="truck")
      .footer__nav
        a(href="#" class="footer__nav-link link") Вызвать эвакуатор
        a(href="#" class="footer__nav-link link") Добавить эвакуатор на сайт
        a(href="#" class="footer__nav-link link") Помощь
        a(href="#" class="footer__nav-link link") Правила оплаты
        a(href="#" class="footer__nav-link link") Защита персональных данных
